<nav id="nav">
  <ul class="menubar">
    <li><a href="/">Home</a></li>
    <li>Videos
        <ul>
            <li>Video Index</li>
            <li><a href="/avgn-index">AVGN</a></li>
            <li><a href="/board-james-index">Board James</a></li>
            <li><a href="/james-and-mike-index">James and Mike Mondays</a></li>
            <li><a href="/mike-and-bootsy-index">Mike and Bootsy</a></li>
        </ul>
    </li>
    <li>AVGN
        <ul>
            <li><a href="/avgn-index">Index of AVGN Episodes</a></li>
            <li><a href="/avgn-title-card-gallery">Title Card Gallery</a></li>
        </ul>
    </li>
    <li>Galleries
        <ul>
            <li><a href="/avgn-title-card-gallery">AVGN Title Cards</a></li>
            <li><a href="/board-james-title-card-gallery">Board James Title Cards</a></li>
            <li>Fan Art</li>
            <li>Other</li>
        </ul>
    </li>
    <li>Community
      <ul>
          <li>Community Site</li>
          <li><a target="_blank" href="https://app.element.io/#/room/!WgqDUynCKMCUuKDjWO:matrix.org">Chat</a></li>
      </ul>
  </li>
  <li>Donate
    <ul>
        <li>Liberapay</li>
        <li><a target="_blank" href="https://app.element.io/#/room/!WgqDUynCKMCUuKDjWO:matrix.org">Chat</a></li>
    </ul>
  </li>

  </ul>
</nav>