<nav id="nav">
  <ul class="menubar">
    <li><a href="/">Home</a></li>
    <li>Videos
        <ul>
            <li><a href="/video-index">Video Index</a></li>
            <li><a href="/avgn-index">AVGN</a></li>
            <li><a href="/board-james-index">Board James</a></li>
            <li><a href="/james-and-mike-index">James and Mike</a></li>
            <li><a href="/mike-and-bootsy-index">Mike and Bootsy</a></li>
        </ul>
    </li>
    <li>Site Posts
        <ul>
            <li><a href="/blog">Blog</a></li>
            <li>Other</a></li>
        </ul>
    </li>
    <li>Galleries
        <ul>
            <li><a href="/avgn/title-cards">AVGN Title Cards</a></li>
            <li><a href="/board-james/title-cards">Board James Title Cards</a></li>
            <li>Fan Art</li>
            <li>Other</li>
        </ul>
  </ul>
</nav>