---
layout: default
---

<p class="center" style="border: #444 solid 2px;"><em>I'm still in the process of putting things together, so not all available videos are on their pages yet.</em></p>

{% assign videolist = site.other-videos %}

{% for video in videolist %}
  {% if video.video_number == page.video_number %}
    {% assign currIndex = forloop.index0 %}
    {% assign prevIndex = currIndex | minus: 1 %}
    {% assign nextIndex = currIndex | plus: 1 %}
    {% assign articleIndexLength = forloop.length | minus: 1 %}
    <div class="page-navigation">
      {% if currIndex == 0 %}
        <a class="next0" href="{{ site.url }}{{ site.baseurl }}{{ videolist[nextIndex].url }}" style="float: right;">Next Video ►</a>
      {% elsif currIndex < articleIndexLength and currIndex != 0 %}
        <a class="prev" href="{{ site.url }}{{ site.baseurl }}{{ videolist[prevIndex].url }}" style="float: left;">◄ Previous Video</a>
        <a class="next" href="{{ site.url }}{{ site.baseurl }}{{ videolist[nextIndex].url }}" style="float: right;">Next Video ►</a>
      {% elsif currIndex == articleIndexLength %}
        <a class="prev" href="{{ site.url }}{{ site.baseurl }}{{ videolist[prevIndex].url }}" style="float: left;">◄ Previous Video</a>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}
<div class="center">
  {% if page.episode %}
    <h1><span class="gold">{{ page.series }}<br>Episode {{ page.episode }}</span><br>{{ page.title }}</h1>
  {% else %}
    <h1><span class="gold">{{ page.series }}</span><br>{{ page.title }}</h1>
  {% endif %}

  <p><span class="gold">Release date:</span><br>{{ page.release_date | date: '%B %-d, %Y'}}</p>

  {% if page.youtube_date %}
    <p><span class="gold">YouTube release date:</span><br>{{ page.youtube_date | date: '%B %-d, %Y' }}</p>
  {% endif %}

  {% if page.previous_titles %}
  <p><span class="gold">Earlier titles:</span></p> 
  {% for item in page.previous_titles %}
    <p>{{ item }}</p>
  {% endfor %}
  {% endif %}

  {% if page.james_old_star_rating != null %}
  <p class="gold">James's old star rating:</p>
  {% if page.james_old_star_rating == 1 %}
  <p class="gold" style="font-size: xx-large; line-height: 0em;">&#9733;&#9734;&#9734;&#9734;&#9734;</p>

  <p>"So bad, I've considered not listing it"</p>
  {% elsif page.james_old_star_rating == 2 %}
  <p class="gold" style="font-size: xx-large; line-height: 0em;">&#9733;&#9733;&#9734;&#9734;&#9734;</p>

  <p>"average or below"</p>
  {% elsif page.james_old_star_rating == 3 %}
  <p class="gold" style="font-size: xx-large; line-height: 0em;">&#9733;&#9733;&#9733;&#9734;&#9734;</p>

  <p>"fairly good."</p>
  {% elsif page.james_old_star_rating == 4 %}
  <p class="gold" style="font-size: xx-large; line-height: 0em;">&#9733;&#9733;&#9733;&#9733;&#9734;</p>

  <p>"very good"</p>
  {% elsif page.james_old_star_rating == 5 %}
  <p class="gold" style="font-size: xx-large; line-height: 0em;">&#9733;&#9733;&#9733;&#9733;&#9733;</p>

  <p>"pushes the boundaries of no budget entertainment"</p>
  {% endif %}
  {% endif %}

  {% if page.james_old_number_rating != null %}
    <p class="gold">James's old number rating:</p>
    {{ page.james_old_number_rating }}/10
  {% endif %}

  {% if page.video_id %}
  <p class="gold">Video {% if page.video_id_info != null %}{{ page.video_id_info }}{% endif %}:</p>
    <iframe class="video" src="https://www.youtube.com/embed/{{ page.video_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {% endif %}

  {% if page.ra_video_id %}
  <p class="gold">YouTube "review archive" version:</p>
    <iframe class="video" src="https://www.youtube.com/embed/{{ page.ra_video_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {% endif %}

  {% if page.alt_video_id %}
    <p class="gold">Higher quality reupload:</p>
    <iframe class="video" src="https://www.youtube.com/embed/{{ page.alt_video_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {% endif %}

  {% if page.drive_id %}
    <p class="gold">ScrewAttack version:</p>
    <iframe class="video" src="https://drive.google.com/file/d/{{ page.drive_id }}/preview"></iframe>
  {% endif %}

  {% if page.bitchute_id %}
      <p class="gold">Bitchute Archive:</p>
      <iframe class="video" src="https://www.bitchute.com/embed/{{ page.bitchute_id }}"></iframe>
  {% endif %}

  {% if page.archive_id %}
      <p class="gold">Archive.org Archive:</p>
      <iframe class="video" src="https://archive.org/embed/{{ page.archive_id }}"></iframe>
  {% endif %}

  {% if page.commentary_video_id %}
    <p class="gold">Video with Commentary:</p>
    <iframe class="video" src="https://www.youtube.com/embed/{{ page.commentary_video_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {% endif %}
</div>

  {% if page.mikes_notes %}
  <p class="gold">Mike's notes:</p>
  {{ page.mikes_notes | markdownify }}
{% endif %}

{% if page.current_description %}
  <p class="gold">YouTube description:</p>
  {{ page.current_description | markdownify }}
{% endif %}

{% if page.old_cm_description != null %}
  <p class="gold">Old site description:</p>
  {{ page.old_cm_description | markdownify }}
{% endif %}

{% if page.description != null %}
  <p class="gold">Description from Cinemassacre.com:</p>
  {{ page.description | markdownify }}
{% endif %}

{% if page.yt_description != null %}
  <p class="gold">YouTube description:</p>
  {{ page.yt_description | markdownify }}
{% endif %}

{{ content | markdownify }}

{% if page.james_old_star_rating != null or page.james_old_number_rating != null %}
<p class="gold">James's old ratings:</p>

<p>Back in 2003 James included star ratings with each film he listed on his filmography on his website.</p>

<p>Later on he switched to ratings out of ten.</p>

<p>Eventually, he dropped the ratings entirely.</p>
{% endif %}

{% if page.title-cards != null %}
<p class="gold">Title card(s):</p>
  <div>
    {% assign widthtotal = page.title-cards | size %}
    {% assign widthtotal = 100 | divided_by: widthtotal %}
    {% for card in page.title-cards %}
    <a href="/assets/images/{{ page.collection }}/title-cards/{{ card }}"><img src="/assets/images/{{ page.collection }}/title-cards/{{ card }}" style="max-width: {{ widthtotal }}%;"></a>
  {% endfor %}
  </div>
{% endif %}



{% if page.thumbnails != null %}
<p class="gold">Thumbnails:</p>
  {% assign widthtotal = page.thumbnails | size %}
  {% assign widthtotal = 100 | divided_by: widthtotal %}
  {% for thumbnail in page.thumbnails %}
    <a href="{{ thumbnail }}"><img src="{{ thumbnail }}" class="video-thumbnail" style="max-width: {{ widthtotal }}%"></a>
  {% endfor %}

{% endif %}