---
layout: default
---


{% if page.series == "Angry Video Game Nerd" %}
{% assign episodes = site.avgn %}

{% elsif page.series == "Angry Video Game Nerd - Bad Game Cover Art" %}
{% assign episodes = site.avgn %}

{% elsif page.series == "Angry Video Game Nerd Minis" %}
{% assign episodes = site.avgn %}

{% elsif page.series == "Mike and Bootsy" %}
{% assign episodes = site.mike-and-bootsy %}

{% elsif page.series == "Board James"%}
{% assign episodes = site.board-james %}

{% elsif page.series == "Board James Extras"%}
{% assign episodes = site.board-james %}

{% elsif page.series == "James and Mike Mondays"%}
{% assign episodes = site.james-and-mike %}
{% endif %}

{% for episode in episodes %}
  {% if episode.series == page.series %}
  {% if episode.episode == page.episode %}
    {% assign currIndex = forloop.index0 %}
    {% assign prevIndex = currIndex | minus: 1 %}
    {% assign nextIndex = currIndex | plus: 1 %}
    {% assign articleIndexLength = forloop.length | minus: 1 %}
    <div class="page-navigation">
      {% if currIndex == 0 %}
        <a class="next0" href="{{ site.url }}{{ site.baseurl }}{{ episodes[nextIndex].url }}" style="float: right;">Next Episode &raquo;</a>
      {% elsif currIndex < articleIndexLength and currIndex != 0 %}
        <a class="prev" href="{{ site.url }}{{ site.baseurl }}{{ episodes[prevIndex].url }}" style="float: left;">&laquo; Previous Episode</a>
        <a class="next" href="{{ site.url }}{{ site.baseurl }}{{ episodes[nextIndex].url }}" style="float: right;">Next Episode &raquo;</a>
      {% elsif currIndex == articleIndexLength %}
        <a class="prev" href="{{ site.url }}{{ site.baseurl }}{{ episodes[prevIndex].url }}" style="float: left;">&laquo; Previous Episode</a>
      {% endif %}
    </div>
  {% endif %}
  {% endif %}
{% endfor %}
<div class="center">
  {% if page.episode %}
    <h1><span class="gold">{{ page.series }}<br>Episode {{ page.episode }}</span><br>{{ page.title }}</h1>
  {% else %}
    <h1><span class="gold">{{ page.series }}</span><br>{{ page.title }}</h1>
  {% endif %}

  <p><span class="gold">Release date:</span><br>{{ page.release_date | date: '%B %-d, %Y'}}</p>

  {% if page.youtube_date %}
    <p><span class="gold">YouTube release date:</span><br>{{ page.youtube_date | date: '%B %-d, %Y' }}</p>
  {% endif %}

  {% if page.previous_titles %}
  <p><span class="gold">Earlier titles:</span></p> 
  {% for item in page.previous_titles %}
    <p>{{ item }}</p>
  {% endfor %}
  {% endif %}

  {% if page.platforms %}

  <p class="platforms-covered">Platforms covered:</p>

  {% for platform in page.platforms %}

  <li>{{ platform }}</li>

  {% endfor %}
  {% endif %}
  {% if page.games %}

  <p class="games-covered">Games covered:</p>

  {% for game in page.games %}

  <li>{{ game }}</li>

  {% endfor %}
  {% endif %}

  {% if page.video_id %}
  <p class="gold">Video:</p>
    <iframe class="video" src="https://www.youtube.com/embed/{{ page.video_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {% endif %}

  {% if page.ra_video_id %}
  <p class="gold">YouTube "review archive" version:</p>
    <iframe class="video" src="https://www.youtube.com/embed/{{ page.ra_video_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {% endif %}

  {% if page.alt_video_id %}
    <p class="gold">Higher quality reupload:</p>
    <iframe class="video" src="https://www.youtube.com/embed/{{ page.alt_video_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {% endif %}

  {% if page.drive_id %}
    <p class="gold">ScrewAttack version:</p>
    <iframe class="video" src="https://drive.google.com/file/d/{{ page.drive_id }}/preview"></iframe>
  {% endif %}

  {% if page.commentary_video_id %}
    <p class="gold">Video with Commentary:</p>
    <iframe class="video" src="https://www.youtube.com/embed/{{ page.commentary_video_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {% endif %}
</div>

  {% if page.mikes_notes %}
  <p class="gold">Mike's notes:</p>
  {{ page.mikes_notes | markdownify }}
{% endif %}

{% if page.current_description %}
  <p class="gold">YouTube description:</p>
  {{ page.current_description | markdownify }}
{% endif %}

{{ content }}

{{ page.collection }}

{% if page.title-cards != null %}
<p class="gold">Title card(s):</p>
  <div>
    {% assign widthtotal = page.title-cards | size %}
    {% assign widthtotal = 100 | divided_by: widthtotal %}
    {% for card in page.title-cards %}
    <a href="/assets/images/{{ page.collection }}/title-cards/{{ card }}"><img src="/assets/images/{{ page.collection }}/title-cards/{{ card }}" style="max-width: {{ widthtotal }}%;"></a>
  {% endfor %}
  </div>
{% endif %}



{% if page.thumbnails != null %}
<p class="gold">Thumbnails:</p>
  {% assign widthtotal = page.thumbnails | size %}
  {% assign widthtotal = 100 | divided_by: widthtotal %}
  {% for thumbnail in page.thumbnails %}
    <a href="{{ thumbnail }}"><img src="{{ thumbnail }}" class="video-thumbnail" style="max-width: {{ widthtotal }}%"></a>
  {% endfor %}

{% endif %}